.email-filter {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 56%); */
    width: 26rem;

    align-self: center;
    background-color: rgb(239, 241, 242)
}

.email-filter input {
    background-color: rgb(239, 241, 242);
    border: none;
    height: 30px;
    width: 24rem;
    font-size: 1rem;
}

.email-filter input:focus-visible {
    outline-width: 0;
}

@media (max-width: 650px) {
    .email-filter {
        width: 100%;
        flex:5;
    }

    .email-filter input {
        width: 100%;
    }
}