.serach-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.input-search {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 5px;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 56%); */
    width: 394px;
    /* margin-right: 25px; */
    align-self: center;
    background-color: rgb(239, 241, 242);
    margin-top: 84px;
    border: unset;
    height: 30px;
    font-size: 1rem;
    margin-bottom: 10px;
    /* position: relative; */
}

.input-search:focus-visible {
    outline-width: 0;
}

.list-result {
    position: absolute;
    background-color: white;
    color: black;
    text-align: left;
    list-style-type: none;
    line-height: 30px;
    /* width: 400px; */
    padding-left: 0px;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list-result li {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    padding-right: 10px;
    width: 100%
}

.list-result li:hover{
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;    
    cursor: pointer;
}

@media (max-width: 480px) {
    .input-search {
        width: 15rem;
    }
}
