.pinned-notes {
    max-height: 250px;
    min-width: 95%;
    columns: 240px;
    border-bottom: 1px solid var(--color1);
}

.pinned-notes .note-preview{
    width: 240px;
}

@media (max-width: 510px) {
    .pinned-notes {
        max-height: 2000px;
        width: 100wh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pinned-notes .note-preview {
        width: 90%;
    }
}