.app-home {
    height: calc(100vh - 138px);
    background-image: url("../../svg/people.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 464px;
    display: flex;
    flex: 1;
    margin: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    margin-top: 84px;

}

.app-home a {
    cursor: pointer;
    height: 136px;
    width: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #121212;
    background-color: white;
    /* flex-grow: 1; */
    font-size: 25px;
    margin: 10px;
    margin-top: 30px;
    font-family: Lato-Light;
    margin-left: 80px;
}

.app-home a:hover {
    box-shadow: grey 0 0 6px 0px;
}

.home-page-book-svg {
    background-image: url("../../svg/book.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    opacity: 0.5;
    border-radius: 10px;
}

.home-page-book-svg:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: rgba(46, 126, 46, 0.969);
}

.home-page-keep-svg {
    background-image: url("../../svg/keep.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    opacity: 0.5;
    border-radius: 10px;
}

.home-page-keep-svg:hover {
    opacity: 1;
    transition: 0.5s;
    background-color: rgb(255, 215, 0);

}

.home-page-email-svg {
    background-image: url("../../svg/mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    opacity: 0.5;
    border-radius: 10px;
}

.home-page-email-svg:hover {
    opacity: 1;
    transition: 0.8s;
    background-color: tomato;
}

.home-page-book-txt {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.creators {
    font-family: lato-Light;
    font-size: 26px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.creators img {
    padding: 0 10px 0 10px;
}

@media (max-width: 760px) {

    .home-page-book-svg {
        background-size: 75px;
    }

    .home-page-keep-svg {
        background-size: 75px;
    }

    .home-page-mail-svg {
        background-size: 75px;
    }

    .app-home a {
        height: 136px;
        width: 141px;
        margin-left: 49px;
    }

}

@media (max-width: 470px) {
    .app-home {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .app-home a {
        margin-left: 5px;
        height: 100px;
        width: 100px; 
        margin-top: 0;
    }
}